<head>
    <title>SwapJo</title>
    <link rel="icon" type="image" href="images/logo.jpg" />
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
</head>

<body>
    <header>
        <nav class="nav">
            <div style="display: flex;align-items: center;justify-content: center;">
                <a href="#" title="logo">
                    <img src="images/logo.jpg" style="width: 100px; height: auto;" alt="Logo" />
                </a>
                <span style="color: black; font-size: 35px;font-weight: bold;margin-left: 15px;">SwapJo App</span>
            </div>
        </nav>
    </header>
    <div class="container">
        <img class="flower1" src="images/flower2.png" alt="Flower 1">
        <img class="flower2" src="images/flower2.webp" alt="Flower 2">
        <!-- <img class="flower3" src="images/flower3.png" alt="Flower 3"> -->
        <div class="video-container">
            <video controls>
                <source src="images/vid1.mp4" type="video/mp4">

                Your browser does not support the video tag.
            </video>
        </div>
        <div class="video-container">
            <video controls>
                <source src="images/vid2.mp4" type="video/mp4">

                Your browser does not support the video tag.
            </video>
        </div>
        <div class="details">
            <span class="title">..أهلا وسهلا</span>

            <p class="text">
                يحتل تطبيقنا الالكتروني المركز الثاني ضمن أهم التطبيقات المجانية لفئة الأعمال يليه تطبيق شركة أمنية
                للاتصالات

            </p>
            <span class="sub-title">:العرض يشمل ما يلي</span>
            <p class="text">الالاف المشاهدات بيوم واحد ومن حسابات اردنية موثقة
                ما لا يقل عن ألف لايك ومتابعة للصفحة من متابعينا.
                ما لا يقل عن ألف لايك للإعلان.
                مئات التعليقات الإيجابية.
                إرسال إشعار لموبايلات جميع من يستخدم التطبيق ( الآلآف ).
                مشاركة اعلانكم فيما لا يقل عن 100 جروب منوع على الفيسبوك.
                هديه فتح قسم جديد لكل معلن في ركن ( تنزيلات وعروض أسعار ) ولمدة شهر كااامل مجانا
            </p>

            <p class="text">
                كل ذلك مقابل (30) دينار فقط.
                في حال الرغبة بتمويل اعلانك بواسطة خبرائنا في التمويل والاستهداف الدقيق والمدروس جيدا يتم إضافة (10%)
                فقط من قيمة
                التمويل بدل عمولة.


            </p>
            <p class="text">
                ملاحظة هامة : هنالك زيادة يومية من 1000 إلى 2000 مستخدم جديد للتطبيق وهذا يعني مشاهدات جديدة للتطبيق

            </p>
            <p class="text">

                <a href="https://play.google.com/store/apps/details?id=com.aboudsafyh.swapjo">play
                    store</a> رابط التطبيق على متجر
            </p>
            <p class="text"><a href="https://apps.apple.com/us/app/swap-jo/id1660928921">apple
                    store</a> رابط التطبيق على متجر
            </p>

            <p class="text">
                في حال رغبتم بالاستفادة من هذا العرض يرجى تعبئة الحقول أدناه التي تتضمن الاسم ( الشخصي أو اسم الشركة أو
                المتجر) ورقم
                الموبايل وسيتم التواصل معكم


            </p>

        </div>
        <br>
        <div class="contact-form">
            <form class="form" action="/submit" method="POST">
                <div class="input1">
                    <div class="input-field">
                        <input type="text" name="name1" class="form-input" placeholder="اسم المتجر">
                    </div>
                    <div class="input-field">
                        <input type="text" name="number1" class="form-input" placeholder="رقم الموبايل">
                    </div>
                </div>
                <div class="input2">
                    <div class="input-field">
                        <input type="text" name="name2" class="form-input" placeholder="اسم المسوق">
                    </div>
                    <div class="input-field">
                        <input type="text" name="number2" class="form-input" placeholder="رقم الموبايل على التطبيق">
                    </div>
                </div>
                <div class="submit-form">
                    <input type="submit" class="form-submit" value="إرسال">
                </div>
            </form>
        </div>
    </div>

</body>